
<div class="container">
 <h2>Editing post</h2>

 <%= render "form", post: @post %>

<br>

 <div>
   <%= link_to "Show this post", @post %> |
   <%= link_to "Back to posts", posts_path %>
 </div>
</div>
