<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <ul>
    <% @categories.each do |category| %>
     <li><%= render category %>
    </li>
   <% end %>
  </ul>
</div>

<%= link_to "New category", new_category_path %>
